<div class="my-listings">
    <h1>My car listings</h1>
    {{#if noCars}}
        <p class="no-cars">No cars in database.</p>
    {{else}}
        <div class="car-listings">
            {{#each cars}}
                {{> myCarBox}}
            {{/each}}
        </div>
    {{/if}}
</div>
