{{> header}}
<main id="site-content">
    <section class="detailsMyPet">
        <h3>{{name}}</h3>
        <div hidden>{{category}}</div>
        <p>Pet counter: <i class="fas fa-heart"></i> {{likes}}</p>
        <p class="img"><img src={{imageURL}}></p>
        {{> editForm}}
    </section>
</main>
{{> footer}}